<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add Items</h1>
    <br><br>
         <form method="POST" action="/additem">
              <input type="text" placeholder="item" name="item" /><br>
              <button>Submit</button>
         </form>
     <div>
         <ul>
             {{#each data}}
               <li>{{this.item}}</li>
             {{/each}}
         </ul>
     </div>

</body>
</html>